extends layout
style.
    .wrapper {
      min-height: 100%;
    }
block content
    h1= title
    h2=status
    h2
      div
        form(action='/users',method='get')
          div(data-role='fieldcontain')
            input(type='submit',value='Guide Me',data-transition='fade', data-theme='c')
      div
        form(action='/users/reset',method='get')
          div(data-role='fieldcontain')
            input(type='submit',value='Reset',data-transition='fade', data-theme='c')
    a(href="/")!= "Back to Index"
