extends layout

block content
    div
      h1= title
      h2=status
    div
      form(action='/users',method='get')
          div(data-role='fieldcontain')
            input.button2(type='submit',value='Guide Me',data-transition='fade', data-theme='c')
      form(action='/users/reset',method='get')
          div(data-role='fieldcontain')
            input.button(type='submit',value='Reset',data-transition='fade', data-theme='c')
    a(href="/")!= "Back to Index"
